@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap");
:root {
  --dark: #27282c;
  --light: #f4f4f4;
  --primary: #7f52ff;
  --primary-hover: #6939eb;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--dark);
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--light);
}

body {
  background-image: url(../img/background.svg);
  background-size: 50%;
  padding: 20px;
}

@media (max-width: 1200px) {
  body {
    padding: 0;
  }
}

@media (max-width: 800px) {
  h2 {
    font-size: 14pt;
  }
}

.container {
  border-radius: 40px;
  overflow: hidden;
  max-width: 1200px;
  margin: 0px auto;
  background-color: var(--dark);
  min-height: 600px;
  width: calc(100% - 20px);
}

@media (max-width: 1200px) {
  .container {
    margin: 0;
    border-radius: 0;
    width: 100%;
  }
}

header {
  position: relative;
}

header .figure {
  position: relative;
}

header .portfoli-photo {
  position: absolute;
  width: 20%;
  bottom: 10%;
  left: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

header .text {
  padding-left: 40px;
}

header h1 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 20pt;
  margin-bottom: 0;
}

header p {
  text-transform: uppercase;
}

section {
  padding: 20px 40px;
}

@media (max-width: 800px) {
  section {
    padding: 20px 12px;
  }
}

section h1 {
  font-size: 20pt;
  margin-top: 0;
  text-transform: uppercase;
}

section > h2 {
  margin-top: 40px;
}

section > h2 .material-icons {
  position: relative;
  top: 3px;
  left: -2px;
}

section p {
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-box .exp-item {
  width: calc(50% - 50px);
}

@media (max-width: 800px) {
  .flex-box .exp-item {
    width: calc(100%);
  }
}

.exp-item {
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  margin-bottom: 20px;
}

.exp-item .material-icons {
  font-size: 40px;
}

.lang-item {
  display: flex;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

@media (max-width: 800px) {
  .lang-item {
    align-items: flex-start;
  }
}

.lang-item .lang-logo {
  width: 40px;
  margin-right: 20px;
}

.lang-item .name {
  font-weight: bold;
}

.lang-item .text {
  width: calc(100% - 60px);
}

.line-item {
  width: 100%;
  max-width: 350px;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
}

.line-item h3 {
  margin: 10px 0;
  font-size: 14pt;
  font-weight: normal;
}

.line-item .line {
  width: 100%;
  height: 1px;
  position: relative;
  background-color: var(--light);
}

.line-item .line > div {
  background-color: var(--light);
  width: 12px;
  height: 12px;
  border-radius: 20px;
  position: absolute;
  top: -5px;
  transform: translateX(-6px);
}

.line-item .line.line-1 > div {
  left: 1%;
}

.line-item .line.line-2 > div {
  left: 2%;
}

.line-item .line.line-3 > div {
  left: 3%;
}

.line-item .line.line-4 > div {
  left: 4%;
}

.line-item .line.line-5 > div {
  left: 5%;
}

.line-item .line.line-6 > div {
  left: 6%;
}

.line-item .line.line-7 > div {
  left: 7%;
}

.line-item .line.line-8 > div {
  left: 8%;
}

.line-item .line.line-9 > div {
  left: 9%;
}

.line-item .line.line-10 > div {
  left: 10%;
}

.line-item .line.line-11 > div {
  left: 11%;
}

.line-item .line.line-12 > div {
  left: 12%;
}

.line-item .line.line-13 > div {
  left: 13%;
}

.line-item .line.line-14 > div {
  left: 14%;
}

.line-item .line.line-15 > div {
  left: 15%;
}

.line-item .line.line-16 > div {
  left: 16%;
}

.line-item .line.line-17 > div {
  left: 17%;
}

.line-item .line.line-18 > div {
  left: 18%;
}

.line-item .line.line-19 > div {
  left: 19%;
}

.line-item .line.line-20 > div {
  left: 20%;
}

.line-item .line.line-21 > div {
  left: 21%;
}

.line-item .line.line-22 > div {
  left: 22%;
}

.line-item .line.line-23 > div {
  left: 23%;
}

.line-item .line.line-24 > div {
  left: 24%;
}

.line-item .line.line-25 > div {
  left: 25%;
}

.line-item .line.line-26 > div {
  left: 26%;
}

.line-item .line.line-27 > div {
  left: 27%;
}

.line-item .line.line-28 > div {
  left: 28%;
}

.line-item .line.line-29 > div {
  left: 29%;
}

.line-item .line.line-30 > div {
  left: 30%;
}

.line-item .line.line-31 > div {
  left: 31%;
}

.line-item .line.line-32 > div {
  left: 32%;
}

.line-item .line.line-33 > div {
  left: 33%;
}

.line-item .line.line-34 > div {
  left: 34%;
}

.line-item .line.line-35 > div {
  left: 35%;
}

.line-item .line.line-36 > div {
  left: 36%;
}

.line-item .line.line-37 > div {
  left: 37%;
}

.line-item .line.line-38 > div {
  left: 38%;
}

.line-item .line.line-39 > div {
  left: 39%;
}

.line-item .line.line-40 > div {
  left: 40%;
}

.line-item .line.line-41 > div {
  left: 41%;
}

.line-item .line.line-42 > div {
  left: 42%;
}

.line-item .line.line-43 > div {
  left: 43%;
}

.line-item .line.line-44 > div {
  left: 44%;
}

.line-item .line.line-45 > div {
  left: 45%;
}

.line-item .line.line-46 > div {
  left: 46%;
}

.line-item .line.line-47 > div {
  left: 47%;
}

.line-item .line.line-48 > div {
  left: 48%;
}

.line-item .line.line-49 > div {
  left: 49%;
}

.line-item .line.line-50 > div {
  left: 50%;
}

.line-item .line.line-51 > div {
  left: 51%;
}

.line-item .line.line-52 > div {
  left: 52%;
}

.line-item .line.line-53 > div {
  left: 53%;
}

.line-item .line.line-54 > div {
  left: 54%;
}

.line-item .line.line-55 > div {
  left: 55%;
}

.line-item .line.line-56 > div {
  left: 56%;
}

.line-item .line.line-57 > div {
  left: 57%;
}

.line-item .line.line-58 > div {
  left: 58%;
}

.line-item .line.line-59 > div {
  left: 59%;
}

.line-item .line.line-60 > div {
  left: 60%;
}

.line-item .line.line-61 > div {
  left: 61%;
}

.line-item .line.line-62 > div {
  left: 62%;
}

.line-item .line.line-63 > div {
  left: 63%;
}

.line-item .line.line-64 > div {
  left: 64%;
}

.line-item .line.line-65 > div {
  left: 65%;
}

.line-item .line.line-66 > div {
  left: 66%;
}

.line-item .line.line-67 > div {
  left: 67%;
}

.line-item .line.line-68 > div {
  left: 68%;
}

.line-item .line.line-69 > div {
  left: 69%;
}

.line-item .line.line-70 > div {
  left: 70%;
}

.line-item .line.line-71 > div {
  left: 71%;
}

.line-item .line.line-72 > div {
  left: 72%;
}

.line-item .line.line-73 > div {
  left: 73%;
}

.line-item .line.line-74 > div {
  left: 74%;
}

.line-item .line.line-75 > div {
  left: 75%;
}

.line-item .line.line-76 > div {
  left: 76%;
}

.line-item .line.line-77 > div {
  left: 77%;
}

.line-item .line.line-78 > div {
  left: 78%;
}

.line-item .line.line-79 > div {
  left: 79%;
}

.line-item .line.line-80 > div {
  left: 80%;
}

.line-item .line.line-81 > div {
  left: 81%;
}

.line-item .line.line-82 > div {
  left: 82%;
}

.line-item .line.line-83 > div {
  left: 83%;
}

.line-item .line.line-84 > div {
  left: 84%;
}

.line-item .line.line-85 > div {
  left: 85%;
}

.line-item .line.line-86 > div {
  left: 86%;
}

.line-item .line.line-87 > div {
  left: 87%;
}

.line-item .line.line-88 > div {
  left: 88%;
}

.line-item .line.line-89 > div {
  left: 89%;
}

.line-item .line.line-90 > div {
  left: 90%;
}

.line-item .line.line-91 > div {
  left: 91%;
}

.line-item .line.line-92 > div {
  left: 92%;
}

.line-item .line.line-93 > div {
  left: 93%;
}

.line-item .line.line-94 > div {
  left: 94%;
}

.line-item .line.line-95 > div {
  left: 95%;
}

.line-item .line.line-96 > div {
  left: 96%;
}

.line-item .line.line-97 > div {
  left: 97%;
}

.line-item .line.line-98 > div {
  left: 98%;
}

.line-item .line.line-99 > div {
  left: 99%;
}

.line-item .line.line-100 > div {
  left: 100%;
}

.languages .items {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .languages .items {
    display: block;
  }
}

.languages .line-item {
  width: 23%;
}

@media (max-width: 800px) {
  .languages .line-item {
    width: 100%;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects .project-item {
  margin-bottom: 20px;
  width: calc(33.3333% - 20px);
  text-align: center;
  color: var(--light);
  text-decoration: none;
}

@media (max-width: 800px) {
  .projects .project-item {
    width: 100%;
  }
}

.projects .project-item .name {
  background-color: var(--primary);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects .project-item .name .material-icons {
  margin-right: 10px;
  margin-top: 2px;
}

.projects .project-item img {
  width: 100%;
}

.sotial-links {
  display: flex;
  flex-wrap: wrap;
}

.sotial-item {
  display: flex;
  margin-right: 20px;
  text-decoration: none;
  margin-bottom: 20px;
  color: var(--light);
  align-items: center;
}

.sotial-item img {
  height: 20px;
  margin-right: 5px;
}

.sotial-item svg {
  height: 20px;
  margin-right: 5px;
  fill: var(--light);
}

.sotial-item .material-icons {
  margin-right: 5px;
}

.button {
  background-color: var(--primary);
  color: var(--light);
  text-decoration: none;
  padding: 13px 20px;
  border-radius: 40px;
  font-size: 16pt;
  margin-top: 30px;
  display: inline-block;
  display: flex;
  align-items: center;
  width: 170px;
  margin-bottom: 20px;
  justify-content: center;
}

.button .material-icons {
  margin-right: 12px;
}

.button:hover {
  background-color: var(--primary-hover);
}

.qr {
  display: none;
}

@media print {
  :root {
    --dark: #ffffff;
    --light: #27282c;
    --primary: #7f52ff;
    --primary-hover: #6939eb;
  }
  body {
    font-size: 16pt;
  }
  .container {
    max-width: 100vw;
  }
  section {
    padding: 40px !important;
  }
  .button {
    color: var(--dark);
    display: none;
  }
  .projects .project-item .name {
    color: var(--dark);
  }
  .exp-item {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  .portfolio {
    display: none;
  }
  .page-break {
    page-break-after: always;
  }
  .qr {
    display: block;
  }
}
